$("#comment-content-<%= @comment.id %>").children().remove();
$("#comment-content-<%= @comment.id %>").html("<p><%= j(@comment.content) %></p>");
$("#comment-content-<%= @comment.id %>").children("p").addClass("comment-content");