<div class="user-background">
  <div class="container user-page">
    <%= render "shared/user_profile", object: @user %>
    <div class="row">
      <div class="col-md-4">
        <ul class="list-group">
          <li class="list-group-item list-group-item-action list-group-item-success">
            Profile
          </li>
          <li class="list-group-item list-group-item-action list-link">
            <%= link_to "Collection", collection_user_path(@user) %>
          </li>
          <li class="list-group-item list-group-item-action list-link">
            <%= link_to "Followings", followings_user_path(@user) %>
          </li>
        </ul>
      </div>
      <div class="col-md-8 user-content">
        <h3>Recent Activity</h3>
        <p>We don't have any recent activity for you right now.</p>
      </div>
    </div>
  </div>
</div>