<div class="container form-container">
  <h1 class="form-header">Editing Location</h1>
  <div class="form-row">
    <div class="col">
      <%= render 'form', restaurant: @restaurant %>
      <div class="form-back">
        <%= link_to 'Back', @restaurant, class:"btn btn-outline-success" %>
      </div>
    </div>
  </div>
</div>