<div class="container">
  <h1>Editing Restaurant</h1>
  <div class="form-row">
    <div class="col">
      <%= render 'form', restaurant: @restaurant %>
      <hr>
      <%= link_to 'Back', @restaurant, class:"btn btn-outline-success" %>
    </div>
  </div>
</div>