<div class="container mobile-container">
  <h1 class="form-header">Add New Location</h1>
  <div class="form-row">
    <div class="col">
      <%= render 'form', restaurant: @restaurant %>
    </div>
  </div>
</div>