//carousel#show weren't cropped
@import 'tags';

.carousel-item {
  border: 1px solid grey;
  max-height: 60vh;
  max-width: 100vmax;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
