//carousel#show weren't cropped
@import 'tags';
@import 'devise';

#dot{
 color: white;
 }

.carousel-item {
  border: 1px solid grey;
  max-height: 60vh;
  max-width: 100vmax;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

// admin user photo
.box{
  min-height: 120px;
  overflow: inline;
  /*margin: 40px;*/
  display: block;
}

.avatar-navi {
  height: 40px;
  width: 40px;
  /*margin: 0px,80px,-40px,80px;*/
  display: block;
}

.avatar-user{
  width: 120px;
  float: left;
  margin: 0px 0px 10px 0px;
  // display: block;
}

.avatar .avatar-navi .avatar-user img{
  height: 100%;
  width: 100%;
  margin: auto;
}
// admin user photo end

/* sidebar */
.sidebar-button {
    margin: 0;
    button {
        background: transparent;
        border: none;
    }
}

div.sidebar {
    max-width: 24%;
}

.sidebar {
    position: absolute;
    z-index: 10;
    .user-profile {
        border-bottom: 1px solid gray;
        padding-bottom: 20px
    }
    .user-avatar {
        a {
            color: #E8AB0C;
            text-decoration: none;
        }
        .avatar-navi {
            float: left;
            width: 40%;
            margin-right: 0;
        }
        .user-name {
            width: 60%;
            margin-left: 40%;
            padding: 3% 0 0 6%;
            span {
                float: right;
                padding-top: 21%;
            }
            p {
                font-size: 0.5em;
            }
            p:first-of-type {
                margin-bottom: 0;
                font-size: 1.2em;
                font-weight: 700;
                padding-left: 0;
            }
        }
    }
    .user-widgit, .user-control {
        border-bottom: 1px solid gray;
        ul {
            list-style: none;
            margin-top: 30px;
            padding-left: 0;
            li {
                padding-bottom: 30px;
                a {
                    color: #8CE4C4;
                    text-decoration: none;
                    span {
                        margin-right: 62px;
                        i {
                            width: 54px;
                            vertical-align: middle;
                        }
                    }
                }
            }
        }
    }
    .user-control li {
        padding: 0;
        a {
            padding: 0;
        }
    }
}
/* sidebar end */

/* search */
.form-inline, .navbar-brand {
    margin-left: 20px;
}
input[type="text"] {
    border-radius: 40px;
}
input[placeholder*=" "] {
    color: #FF0013;
    opacity: .8;
}
/* search end */

/* loading animation on form */
.loader {
	padding-top: 15px;
	.loader-circle {
		display: inline-block;
		border: 10px solid #f3f3f3;
		border-radius: 50%;
		border-top: 10px solid #77FFCC;
		width: 60px;
		height: 60px;
		-webkit-animation: spin 2s linear infinite; /* Safari */
		animation: spin 2s linear infinite;
	}
	p {
		color: #E0E0E0;
		vertical-align: text-bottom;
		display: inline-block;
	}

	/* Safari */
	@-webkit-keyframes spin {
		0% { -webkit-transform: rotate(0deg); }
		100% { -webkit-transform: rotate(360deg); }
	}

	@keyframes spin {
		0% { transform: rotate(0deg); }
		100% { transform: rotate(360deg); }
	}
}
/* end */

/* form */
#myTabContent {
    padding: 30px;
    border: 1px solid #DEE2E6;
    border-bottom: none;
}
.form-back {
    border: 1px solid #DEE2E6;
    padding: 0 0 15px 30px;
    border-top: none;
}
.nav-tabs {
    border-bottom: none;
}
label.required:after {
    content: "*";
    color: red;
}
/* end */
