.user-page {
  padding: 0vh 6vw 5vh 6vw;
  .row {
    padding-top: 3vh;
    .user-avatar {padding-top: 5vh;}
    .profile-name {
      font-weight: 900;
      color: #F0B697;
      text-shadow: 3px 1px black;
    }
    .intro {
      padding: 0 1vw;
      margin: 0 auto;
      width: fit-content;
      margin-left: 0;
      border: 2px solid #48FF89;
    }
    .residence {
      font-size: 18px;
      margin: 4vh 0 0 0;
      width: fit-content;
      box-shadow: 2px 5px 10px #C0C0C0;
      border-radius: 10px;
      i {color: #E8A90F;}
    }
    .user-contact {
      border-left: 1px solid #DEE2E6;
      padding-top: 6vh;
      .profile-follow {
        position: absolute;
        left: 0%;
      }
    }
    .user-content {
      h3 {color: #0CC;}
      .restaurant-item {
        height: auto;
        border: none;
        border-top: 2px solid #5cb85c;
      }
    }
    .list-link {
      a {
        color: #2BB44A;
        &:hover {
          background: #FFFFF0;
          color: #3AF365;
          text-decoration: none;
        }
      }
      &:hover {background: #FFFFF0;}
    }
    .coll-link {
      color: #70D941;
      &:hover {
          color: #228D3A;
          text-decoration: none;
          background: ghostwhite;
      }
    }
    .restaurant-caption h5 a:hover {
      text-decoration: none;
    }
    .search-tag span > a {float: right;}
    .coll-tel {margin-left: 5vw;}
  }
}

.user-background {background: linear-gradient(to bottom, #FFFAFA 50vh, #FFF 100%);}

/* user-edit */
.user-edit-container {
  margin-top: 3vh;
  .nav-link {
      color: #2BB44A;
      border: 1px solid rgba(0, 0, 0, 0.125);
      &:hover {
          background: #FFFFF0;
          color: #3AF365;
      }
  }
  .nav-link.active {
      color: #FFF;
      background: #BCE8B6;
  }
}
.user-edit {
  border: 1px solid #DEECE0;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 1px grey;
  padding: 2vh 2vw;
  margin-bottom: 3vh;
  .col-form-label {
    text-align: center;
    font-size: 24px;
    font-weight: 800;
    text-transform: uppercase;
  }
  .form-label-test {
    border: 1px solid;
    border-bottom: none;
    border-radius: 5px;
    max-width: 10vw;
    color: #FFF;
    background: #BCE8B6;
    margin: 0 auto;
  }
  .user-edit-avatar {
    position: relative;
    overflow: hidden;
    display: inline-block;
    button {
      border: 2px solid gray;
      border-radius: 8px;
      padding: 8px 20px;
      margin-left: 7vw;
      color: gray;
      background-color: white;
      font-size: 20px;
      font-weight: bold;
      input[type="file"] {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
      }
    }
  }
  img {
    width: 12vw;
    border-radius: 12px;
  }
  select {
    border: 1px solid #ced4da;
    padding: .5vh .6vw;
    border-radius: 25px;
  }
  textarea {min-height: 25vh;}
  .user-edit-submit {
    padding: 0 40%;
  }
  @media screen and (min-width: 990px) {
   .user-edit-submit {
      padding: 0 44.5%;
    } 
  }
  /* Edit Password */
  em {
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    text-transform: lowercase;
    margin: 0 auto;
    color: #f79a9a;
  }
  /* end */
}
/* end */